In [ ]:
# Printing Welcome

name= input ()
print ("Welcome Mr. "+ name)

Mudasar Latif Memon
Welcome Mr. Mudasar Latif Memon

In [ ]:
# Calculating  Gross Pay

hours = int(input ("enter the hours "))
rateperhour = int(input ("enter rate per hour "))
grosspay= hours*rateperhour
print ("your grosspay is", grosspay)

enter the hours 40
enter rate per hour 5000
your grosspay is 200000

In [ ]:
# Celcius to Farhenheit Temprature Conversion

celcius= int (input ("enter the celcius temprature"))
farhenheit= (celcius * 9/5) + 32
print ("The Farhenheit Temprature is =", farhenheit ,"F")

enter the celcius temprature30
The Farhenheit Temprature is = 86.0 F

In [ ]:
## Expressions ##

5==5

x= 2
y= 3
x==y

False

In [ ]:
# Logical Operators

x!=y

True

In [ ]:
# Boolean Operators

x is y
x and y
x>0 and x<10

True

In [ ]:
not (x>y)
not (x<y)

In [ ]:
x= int (input ('input an integer '))
if x <10:
    print ('x is less than 10')

input an integer 5
x is less than 10

In [ ]:
# Conditional Statements if elif

x=10
y=10
if x<y:
    print ('x is less than y')
elif x>y:
    print ('x is greated than y')
else:
    print ('x and y are equal')

x and y are equal

In [ ]:
# conditional Nested if else
x=10
y=10
if x==y:
    print ('x and y are equal')
else :
    if x<y:
         print ('x is less than y')
    else:
        print ('x and y is greated')

x and y are equal

In [ ]:
# Try Except


inp = input ('Enter Farhenheit Temprature:')
try:
    far = float (inp)
    cel = (far- 32.0) * 5.0 /9.0
    print(cel)
except:
    print ('Please enter a number')

Enter Farhenheit Temprature:98
36.666666666666664

In [ ]:
# Nest if elif


score= float (input ('Enter a value between
                     0.0 to 1.0'))
if score >= 0.0 and score <1.0:
    print ('You have entered right value')
    if score >=0.9:
        print (' Your grade is A  = on your given score ', score)
    elif score >= 0.8 :
        print (' Your grade is B  = on your given score ', score)
    elif score >= 0.7 :
        print (' Your grade is C = on your given score ', score)
    elif score >= 0.6 :
        print (' Your grade is D = on your given score ', score)
    elif score >= 0.5 :
        print (' Your grade is F = on your given score ', score)
else:
    print ('please enter the correct value')

Enter a value beterr 0.0 to 1.00.5
You have entered right value
 Your grade is F = on your given score  0.5

In [ ]:
# Import Library Math


import math
degrees = 45
radians = degrees / 360.0 * 2 * math.pi

rad_sin= math.sin (radians)
print (radians)
print (rad_sin)

0.7853981633974483
0.7071067811865476

In [ ]:
# Import library with Alias


import math as ma
degrees = 45
radians = degrees / 360.0 * 2 * ma.pi

rad_sin= math.sin (radians)
print (radians)
print (rad_sin)

0.7853981633974483
0.7071067811865476

In [ ]:
# Import specific function from library


from math import pi,sin
degrees = 45
radians = degrees / 360.0 * 2 * ma.pi

rad_sin= math.sin (radians)
print (radians)
print (rad_sin)

0.7853981633974483
0.7071067811865476

In [ ]:
# Random function/ randint/ randchoice


import random
for i in range (10):
    x= random.randint(5,10)
    print (x)

print (x)

8
9
8
10
6
6
9
6
8
10
10

In [ ]:

t= ['Mudasar', 'Latif', 'Memon']
random.choice(t)


def print_fullname(first_name, last_name):
    print (first_name)
    print (last_name)

    return(first_name, last_name)
print_fullname('Mudasar','Latif')

Mudasar
Latif

('Mudasar', 'Latif')

In [ ]:
# End of First Day